/* Start Global Rules */
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Droid Sans', sans-serif;
}

/* End Global Rules */

/*	start	Header	*/

.header{
	background: url('../images/header.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 400px;
	position: relative;

}

.header .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgb(230 201 173 / 50%)
}

.header .overlay h1 {
	font-size: 60px;
	margin-top: 100px;
}

.header .overlay .plan {
	border: 2px solid #FFF;
	font-size: 24px;
	width: 48%;
	padding: 10px;
	margin-left: 1%;
	margin-right: 1%;
}

.header .overlay .order {
	border: 2px solid #FFF;
	font-size: 24px;
	padding: 10px;
	margin: 30px 1% 0;
}

@media (max-width: 420px){ /* Custom Media */
	.header .overlay .plan {
		float: none;
		margin: 0 auto 10px ;
		font-size: 15px;
	}
	.header .overlay h1 { font-size: 15px !important; margin-top: 20px  !important;}
}

@media (max-width: 767px){
	.header .overlay .plan {
		float: none;
		margin: 0 auto 10px ;
		font-size: 17px;
	}
	.header .overlay h1 { font-size: 50px}
}

/*	End	Header	*/

/* Star Features */
.feature{
	padding: 50px;
	width: 100%;
}
.feature .h1{
	font-size: 35px;
}

.feature .feat{
	color: #555;
	padding: 20px;
	margin-bottom: 30px;
}

.feature .feat:nth-of-type(even){
	background-color: #f6f6f6;
}

.feature .feat h2{
margin: 10px 0 8px;
}
.feature .feat p{
	line-height: 1.5;
	margin: 0;
}


@media (min-width: 768px) and (max-width: 991px){
	.feature .feat:first-of-type {	width: 100%; }
	.feature .feat:not(:first-of-type) {	width: 50%; }
}

@media (min-width: 992px){
	.feature .feat {	width: 33.3333%; }
}
/* End Features */


/* Start About Us */
.about-us {
	padding: 50px;
	width: 100%;
	background-color: #f6f6f6;
}

.about-us .resposive-paragraph{
	color: #878787;
}

@media (max-width: 767px){
	.resposive-paragraph {font-size: 18px !important; text-align: center;}
}
/* End About Us */

/* Start our work */

@media (min-width: 768px)
{
	.our-work .resposive-image{
		width: 50%;
	}
}

@media (min-width: 992px)
{
	.our-work .resposive-image{
		width: 33.33333%;
	}
}

@media (min-width: 1200px)
{
	.our-work .resposive-image{
		width: 25%;
	}
}

.our-work .resposive-image img{
	width: 100%;
}

/* End our work*/

/* Start Our Palns */
.plans {
	padding: 50px;
	width: 100%;
	background-color: #4c4c4c;
}

.plans .h1{
	color: #ddd;
}

.plans .plan{
	border: 1px solid #FFF;
	padding: 10px;
	padding-bottom: 30px;
	width: 32.6666%;
	margin: auto;
	position: relative;
}

.plans .plan:not(.ultimate){
	margin-right: 1%;
}

.plans .plan h3{
font-size: 27px;
color: #ddd;
}

@media (max-width: 991px){
	.plans .plan {
		width: 100%;
		margin-bottom: 10px ;
	}
}

@media (min-width: 992px) {
	.plans .plan.plus {
		left:33.66666%;
	}

	.plans .plan.premium {
		right:33.66666%;
	}
}

.plans .plan span{
font-size: 23px;
color: #ddd;
padding-bottom: 10px;
display: block;
}

.plans .plan ul{
font-size: 17px;
color: #ddd;
line-height: 1.7;
}



/* End Our Plans*/

/* Start What they Say */
.they-say{
	padding: 50px;
	width: 100%;
}

.they-say .person-say{
	background-color:#f8f8f8;
	padding: 15px;
	margin: 0 0 2%;
	border: 1px solid #CCC;
	border-radius: 5px;
}

@media (max-width: 767px){
	.they-say .person-say .avatar{
		float: none;
		margin: auto;
	}
	.they-say .person-say h3{
		float: none;
		text-align: center;
	}
	.they-say .person-say p{
		float: none;
		width: 100%;
	}
}

@media (min-width: 768px){
	.they-say .person-say:first-of-type{
		width: 98%;
	}

	.they-say .person-say:not(:first-of-type){
		width: 48%;
	}

	.they-say .person-say:last-of-type{
		margin-left: 2%;
	}
	.they-say .person-say .avatar{
		margin-right: 20px;
	}
	.they-say .person-say p{
		width: calc( 100% - 140px);
	}
}

@media (min-width: 992px){
	.they-say .person-say:first-of-type{
		width: 80%;
		margin-left: 10%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.they-say .person-say:not(:first-of-type) .avatar{
		float: none;
		margin: auto;
	}
	.they-say .person-say:not(:first-of-type)  h3{
		float: none;
		text-align: center;
	}
	.they-say .person-say:not(:first-of-type)  p{
		float: none;
		width: 100%;
	}
}
.they-say .person-say .avatar{
	width: 120px;
}

.they-say .person-say .avatar img{
	width: 100%;
}

.they-say .person-say h3{
	margin:5px 0 0  ;
}


.they-say .person-say p{
	font-size: 15px;
	line-height: 1.5;
}


/* End What they Say */

/* Start Information */

.information {
	padding: 50px;
	width: 100%;
	background-color: #f6f6f6;
}

.information .info-list li{
	display: inline-block;
	background-color: #DDD;
	padding: 12px;
	font-size: 18px;
	cursor:pointer;
}

.information .info-list li.selected{
	background-color: #FFF;
	color:#29c4ff;
}

.information .info-content > div{
	background-color: #FFF;
	padding: 20px;
	line-height: 2
}

.information .info-content > div:not(:first-of-type){
	display: none;
}

.information .resposive-paragraph{
	color: #878787;
}

@media (max-width: 767px){
	.information .info-list li {
		display: block;
	}
}


/* End Information */

/* Start Footer  */
.footer {
	background-color: #333;
	color: #EEE;
}

.footer .copyright,
.footer .design {
	padding: 20px;
	text-align: center;
	width: 50%;
}

@media (max-width: 767px) {
	.footer .copyright,
	.footer .design {
		width: 100%;
	}	
}
/* End Footer  */



/*  Start My FreamWork  */

@media (max-width: 767px)/* Extra Small Screen Mobile & Tablet Rules */
{
  .visible-xs { display: block !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.hidden-xs { display: none !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
}

@media (min-width: 768px) and (max-width: 991px)/* Small Screen Rules*/
{
  .container { width:650px ; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.visible-sm { display: block !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.hidden-sm { display: none !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
}

@media (min-width: 992px) and (max-width: 1199px) /* Medium Screen Roles */
{
  .container { width:870px ; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.visible-md { display: block !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.hidden-md { display: none !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
}

@media (min-width: 1200px) /* Large Screen Roles*/
{
  .container { width:1070px ; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.visible-lg { display: block !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
	.hidden-lg { display: none !important; transition: all .4s ease; -webkit-transition: all .4s ease;}
}

.container{
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.float-right { float: right; }
.float-left { float: left; }

.h1 { font-size: 2em; 	margin: 30px 0; color: #555;}

.header-padding-left { padding:0 20px 0 0; }
.header-padding-right { padding:0 0 0 20px; }

.text-uppercase { text-transform: uppercase; }

.clearfix { clear: both; }

.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none; }

.resposive-paragraph {font-size: 20px; line-height: 1.6;}

.classic-list{list-style: none; padding: 0; margin: 0;}

.resposive-image{ width: 100%; }

.img-circle{ border-radius: 50%;}

.img-thumbnail{ padding: 3px; background-color: #FFF; border: 1px solid #CCC;}

:root
{
	--font-active-color:	#2ecc71;
	--font-main-color:	#FFFFFF;
	--font-info-color:	#919191;
	--font-title-color:	#667C88;
	--back-main-color: #FFFFFF;
	--back-light-color: #F2F2F1;
	--back-drak-color: #252E30;
	--back-deep-color: #191F21;
}
/*  End My FreamWork  */
